<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Barberia</title>

   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Estilos en Css -->
    <style>
      .slider{
        background: url("images/bg-1.jpg"); 
        height: 50vh;
        background-size: cover;
        background-position: center; 
      }
    </style>  
  </head>

  <body>
  <!-- estilo imagen principal  -->
  <section class="container-fluid slider d-flex justify-content-center align-items-center">
  </section>
  <!-- estilo fin imagen principal -->
 
  <!-- menú de navegación -->
  <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-sm sticky-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html">
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <div class="navbar-nav mr-auto ml-auto text-center">
      <a class="nav-item nav-link active" href="index.html">Inicio</a>
      <a class="nav-item nav-link" href="#nosotros">Nosotros</a>
      <a class="nav-item nav-link" href="#servicios" >Servicios</a>
      <a class="nav-item nav-link" href="#contacto">Contacto</a>
    </div>
    </div>
  </nav>
  <!-- fin menú de navegación -->

  <!--  card -->
  <section class="container my-5 py-5">
  <h3 class="text-uppercase text-center mb-4" id="nosotros">Bienvenidos a nuestro sitio web</h3>
  <p class="lead text-center mb-5">No solo hacemos lo mejor para tu cabello, sino que trabajamos con los mejores. Nuestro equipo ha sumado toda su experiencia y conocimiento para entregarte en cada cita, anos de practica y calidad. el servicio y la calidad de todo nuestro equipo de trabajo nos hacen unicos en cada zona donde llegamos.</p>
  </section>
  <!-- fin Cards -->

  <!-- START THE FEATURETTES -->

      <div class="container my-5">

        <div class="row d-flex align-items-center my-5 py-5">
          <div class="col-md-7">
            <h2 class="display-4">Lo que encuentras en la barberia. <span class="text-muted">La mejor experiencia</span></h2>
            <p class="lead">Un espacio dedicado a hombres, mujeres y niños donde podrán acceder a los más altos estándares de belleza y calidad, con las últimas tendencias mundiales.</p>
          </div>
          <div class="col-md-5">
            <img class=" img-fluid mx-auto" src="images/cards1.png" alt="Generic placeholder image">
          </div>
        </div>
                
      </div>

      <div class="container my-5">

        <div class="row d-flex align-items-center my-5 py-54">
          <div class="col-md-7">
            <h2 class="display-4" id="servicios">Servicios. <span class="text-muted">Para todas las edades</span></h2>
            <p class="lead">Corte, Tintes, alisados, Tratamientos</p>
          </div>
          <div class="col-md-5">
            <img class=" img-fluid mx-auto" src="images/serviciosc.jpg" alt="Generic placeholder image">
          </div>
        </div>
                
      </div>

      <!-- /END THE FEATURETTES -->

  <!-- Jumbotron -->
  <div class="jumbotron mt-5 rounded-0">
    <div class="container">
      <h1 class="display-3">Que esperas para reservar</h1>
      <p class="lead">Aqui podras ver todos los servicios que ofrecemos</p>
      <hr class="my-4">
      <div class="d-flex justify-content-between align-items-center">
        <p>Contamos con el mejor servicio en el pais. </p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="sitiosbarberia.html" role="button">Reservas</a>
        </p>

      </div>
    </div>
  </div>
  <!-- fin Jumbotron -->

  <!-- Footer -->
  <footer class="container-fluid bg-inverse">
    <div class="row text-white py-4 text-white">
      <div class="col-md-3">
        <img src="images/logo.jpng.png" alt="" width="150px" height="auto" class="float-left mr-3">
        <h4 class="lead">Barberia</h4>
        <footer class="blockquote-footer">Servicios <cite title="Source Title">especializados</cite></footer>
      </div>
      <div class="col-md-3" id="contacto">
        <h4 class="lead">Direccion</h4>
        <p>carrera 15A 67-3</p>
        <p>Piso 3</p>
      </div>
      <div class="col-md-3">
        <h4 class="lead">Direccion</h4>
        <p>carrera 15A 67-3</p>
        <p>Piso 3</p>
      </div>
      <div class="col-md-3">
        <h4 class="lead">Síguenos</h4>
        <a href="https://es-la.facebook.com/"><span class="badge badge-primary">Facebook</span></a>
        <a href="https://www.youtube.com/"><span class="badge badge-danger">Youtube</span></a>
      </div>
    </div>
  </footer>
  <!-- Fin Footer -->
    
      
    
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>