<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sitios de barberia </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">

        
  </head>
  <body>
 
  <!-- menú de navegación -->
  <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-sm sticky-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html">
    <img src="images/logo.jpng.png" width="60" height="30" class="d-inline-block align-top" alt="Logo Bootstrap">
    Barberia
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <div class="navbar-nav mr-auto ml-auto text-center">
      <a class="nav-item nav-link " href="index.html">Inicio</a>
      <a class="nav-item nav-link" href="#contacto">Contacto</a>
    </div>
    
  </nav>
  <!-- fin menú de navegación -->
  <!--  card -->
  <section class="container my-5 py-5">
  <h3 class="text-uppercase text-center mb-4">Sedes</h3>
  <p class="lead text-center mb-5">Contamos con dos sedes en la ciudad de Pereira con las mejores intalaciones del pais.</p>
  <div class="card-deck">
    <div class="card">
      <a href="#"><img class="card-img-top img-fluid" src="images/sede1.png" alt="Card image cap"></a>
      <div class="card-block">
        <h4 class="card-title">Sede1</h4>
        <p class="card-text">Sede ubicada en el parque San Tomas</p>
        <!-- <a class="btn btn-primary" href="#" role="button">Link</a> -->
        <!-- Modal 1 -->
        <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            <a class="btn btn-primary btn-lg" href="sitio1.html" role="button">Disponibilidad y Reservas</a> 
          </button>

          
      </div>
    </div>
    <div class="card">
      <a href="#"><img class="card-img-top img-fluid" src="images/sede2.jpg" alt="Card image cap"></a>
      <div class="card-block">
        <h4 class="card-title">Sede2</h4>
        <p class="card-text"> Sede ubicada en el centro</p>
        <!-- Modal 1 -->
        <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            Disponibilidad y Reservas
          </button>
          </div>
        <!-- Fin sede 2 -->

      </div>
    </div>
  </div>
  </section>
  <!-- fin Cards -->
 
  
 

  <!-- Footer -->
  <footer class="container-fluid bg-inverse">
    <div class="row text-white py-4 text-white">
      <div class="col-md-3">
        <img src="images/logo.jpng.png" alt="" width="150px" height="auto" class="float-left mr-3">
        <h4 class="lead">Barberia</h4>
        <footer class="blockquote-footer">Servicios <cite title="Source Title">especializados</cite></footer>
      </div>
      <div class="col-md-3" id="contacto">
        <h4 class="lead">Direccion</h4>
        <p>carrera 15A 67-3</p>
        <p>Piso 3</p>
      </div>
      <div class="col-md-3">
        <h4 class="lead">Direccion</h4>
        <p>carrera 15A 67-3</p>
        <p>Piso 3</p>
      </div>
      <div class="col-md-3">
        <h4 class="lead">Síguenos</h4>
        <a href="https://es-la.facebook.com/"><span class="badge badge-primary">Facebook</span></a>
        <a href="https://www.youtube.com/"><span class="badge badge-danger">Youtube</span></a>
      </div>
    </div>
  </footer>
  <!-- Fin Footer -->
    
      
    
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>